<!--
 * @Descripttion: 
 * @version: 
 * @Author: Jsonco
 * @Date: 2022-12-18 19:48:04
 * @LastEditors: sueRimn
 * @LastEditTime: 2022-12-19 09:34:45
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>WebGL Shader颜色输出与打印</title>
    <script src="../importance/gl-utils.js"></script>
    <script src="../importance/gl-debug.js"></script>
    <script src="../importance/ice-utils.js"></script>
    <script src="../importance/gl-matrix.js"></script>
    <script src="../importance/gl-lint.js" crossorigin></script>
    <script type="text/javascript">
        // 顶点着色器
        var VSHADER_SOURCE = "";
        // 片元着色器
        var FSHADER_SOURCE = "";
        var gl = null;
        async function main() {
            initWebgl();
            initShader();
        }
        function initWebgl() {
            // 获取canvas对象
            let canvas = document.getElementById('webgl');
            //获取webgl绘制对象
            gl = getWebGLContext(canvas);
            if (!gl) {
                console.log('不支持webgl哦！');
                return;
            }
        };
        async function initShader() {
            // 初始化主色器程序
            let FSHADER_SOURCE = await loadShaderFromFile("./shader/color.frag.glsl")
            let VSHADER_SOURCE = await loadShaderFromFile("./shader/color.vert.glsl")
            
            if (VSHADER_SOURCE && FSHADER_SOURCE) { initShaders(gl, VSHADER_SOURCE, FSHADER_SOURCE); initBuffer(); }



        }
        function initBuffer() {
            let verticesTexCoords = new Float32Array([
                // -1.0, -1.0, 0.0,

                -1.0, -1.0, 0.0,

                // 1.0, 1.0, 0.0,

                // 1.0, -1.0, 0.0,
            ]);
            let n = verticesTexCoords.BYTES_PER_ELEMENT; // 指定顶点的个数
            let vertexTexCoordBuffer = gl.createBuffer();
            gl.bindBuffer(gl.ARRAY_BUFFER, vertexTexCoordBuffer);
            gl.bufferData(gl.ARRAY_BUFFER, verticesTexCoords, gl.STATIC_DRAW);
            let FSIZE = verticesTexCoords.BYTES_PER_ELEMENT;
            let a_Position = gl.getAttribLocation(gl.program, 'a_Position');
            let modelMatrix = glMatrix.mat4.create();

        

            gl.vertexAttribPointer(a_Position, 3, gl.FLOAT, false, FSIZE * 3, 0);
            gl.enableVertexAttribArray(a_Position);
            gl.clearColor(0.0, 0.0, 0.0, 1.0);
            gl.clear(gl.COLOR_BUFFER_BIT);
          
            gl.drawArrays(gl.POINTS, 0, 1);
            //打印小数
           let aaa=  readPixelReturnFloat(gl,[0,0],[2,2]);
            //打印整数
            // let aaa=  readPixelReturnInt(gl,[0,0],[2,2]);
            console.log(aaa);
        }






    </script>
</head>

<body onload="main()">
    <canvas id="webgl" width="512" height="512">
    </canvas>
</body>

</html>