<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>es6</title>
</head>
<body>
    <script>
        class phone{
            constructor(brand,price){
                this.brand=brand
                this.price=price
            }
            // 父类的成员属性
            call(){
                console.log("我可以打电话");
            }
        }

        class smphone extends phone{
            constructor(brand,price,color,sise){
                super(brand,price)
                this.color=color
                this.sise=sise
            }
            photo(){
                console.log("子类拍照");
            }

            // 重写
            call(){
                console.log("视频通话");
            }
        }

        const xiaomi =new smphone('xm',3333,'red',8)
        console.log(xiaomi);
        console.log(xiaomi.call());
    </script>
</body>
</html>