<!--
 * @Descripttion: 
 * @version: 
 * @Author: Jsonco
 * @Date: 2022-12-18 19:48:04
 * @LastEditors: sueRimn
 * @LastEditTime: 2022-12-19 09:40:13
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>颜色计算</title>
    <script src="../importance/gl-utils.js"></script>
    <script src="../importance/gl-debug.js"></script>
    <script src="../importance/ice-utils.js"></script>
    <script src="../importance/gl-matrix.js"></script>
    <script src="../importance/gl-lint.js" crossorigin></script>
    <script type="text/javascript">
        // 顶点着色器
        var VSHADER_SOURCE = "";
        // 片元着色器
        var FSHADER_SOURCE = "";
        var gl = null;
        async function main() {
            initWebgl();
            initShader();
        }
        // webgl初始化函数
        function initWebgl() {
            // 获取canvas对象
            let canvas = document.getElementById('webgl');
            //获取webgl绘制对象
            gl = getWebGLContext(canvas);
            if (!gl) {
                console.log('不支持webgl哦');
                return;
            }
        };
        // shder初始化函数
        async function initShader() {
            // 初始化主色器程序
            let FSHADER_SOURCE = await loadShaderFromFile("./color.frag.glsl")
            let VSHADER_SOURCE = await loadShaderFromFile("./color.vert.glsl")

            if (VSHADER_SOURCE && FSHADER_SOURCE) { initShaders(gl, VSHADER_SOURCE, FSHADER_SOURCE); initBuffer(); }
        }
        function initBuffer() {
            let verticesTexCoords = new Float32Array([
                0.0, 0.0, 0.0
            ]);
            let n = verticesTexCoords.BYTES_PER_ELEMENT; // 指定顶点的个数
            let vertexTexCoordBuffer = gl.createBuffer();
            gl.bindBuffer(gl.ARRAY_BUFFER, vertexTexCoordBuffer);
            gl.bufferData(gl.ARRAY_BUFFER, verticesTexCoords, gl.STATIC_DRAW);
            let FSIZE = verticesTexCoords.BYTES_PER_ELEMENT;
            let a_Position = gl.getAttribLocation(gl.program, 'a_Position');
            let modelMatrix = glMatrix.mat4.create();

            let u_Resolution = gl.getUniformLocation(gl.program, 'u_resolution');
            let resolution = glMatrix.vec2.create();
            resolution[0] = 512.0;
            resolution[1] = 512.0;
            debugger
            gl.uniform2fv(u_Resolution, resolution);

            gl.vertexAttribPointer(a_Position, 3, gl.FLOAT, false, FSIZE * 3, 0);
            gl.enableVertexAttribArray(a_Position);
            gl.clearColor(0.0, 0.0, 0.0, 1.0);
            gl.clear(gl.COLOR_BUFFER_BIT);

            gl.drawArrays(gl.POINTS, 0, 1);

        }






    </script>
</head>

<body onload="main()">
    <canvas id="webgl" width="512" height="512">
    </canvas>
</body>

</html>